#main{
	margin: auto auto;
	width: 500px;
	height: 300px;
	background-color:red;
}

#redBox{
	margin: auto auto;
	width: 500px;
	height: 300px;
	background-color:red;
}
#blueBox{
	margin: auto auto;
	width: 500px;
	height: 300px;
	background-color:blue;
}
