*{
	margin: 0;
	padding:0;
}

html, body{
	margin: 0; 
	padding: 0;
	width:100%;
	height:100%;
}

/*#test{
	position:fixed;
	bottom:10px;
	left:400px;
	width:6%;
}*/

#elementF{
	position:fixed;
	bottom:10px;
	left:210px;
	width:84%;
	height:100px;
	background-color: transparent;
}

#mondamage{
	position:fixed;
	font-size: 250px;
	text-align: center;
	top:200px;
	left:410px;
	width:50%;
	height:30%;
	color:red;
	background-color: transparent;
}

/*effect*/
#effect{
	position: fixed;
	top: 150px;
	left: 230px;
	width:80%;
	height: 60%;
	background-color: red;
}

/*shake display*/
#prepare{
	position:relative;
	top:250px;
	background-color:transparent;
	text-align:center;
	font-size:80px;
	-webkit-animation:prepare 1.0s ease-in-out infinite alternate;
    -moz-animation:prepare 1.0s ease-in-out infinite alternate;
    animation:prepare 1.0s ease-in-out infinite alternate;
}
@-webkit-keyframes prepare{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes prepare{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes prepare{
    0% {opacity:0;}
    100% {opacity:1;}
}

#shake{
	position:fixed;
	top:0px;
	background-color: white;
	opacity: 0.4;
	width: 100%;
	height: 100%;
}

/*battle display*/
#main{
	position:fixed;
	width: 100%;
	height: 100%;
	background-color: black;
}

#timer{
	position: fixed;
	top : 25px;
	left : 80px;
	padding-right: 20px;
	text-align: right;
	width: 80px;
	background-color: transparent;
	color:white;
	font-size: 50px;
	display:none;
}

#lifeback{
	position:fixed;
	bottom:25px;
	left:30px;
	width:120px;
	height:200px;
	background-color: #EAEAEA;
}

#life{
	position:fixed;
	bottom:25px;
	left:30px;
	width:10%;
	height:28%;
	background-color: white;
}

#lifeframe{
	position:fixed;
	bottom:25px;
	left:30px;
	width:10%;
}


#order{
	width:100%;
	height:80px;
	background-color:blue;
}

/*stage 1*/
#stage1{
	width: 100%;
	height: 100%;
}

/*ghost setting and animation*/
#ghost{
	position:fixed;
	top:110px;
	left:300px;
	width:30%;
	animation: ghostanim 2s; 
	animation-iteration-count: infinite; 
	-webkit-animation: ghostanim 2s; /* Safari & Chrome */
	-webkit-animation-iteration-count: infinite;
	display: none;
}

@keyframes ghostanim { 
  0%   { transform:  translate(0px, 0px);    } 
  50%   { transform:  translate(0px, 30px);   }
  100%  { transform:  translate(0px, 0px);   } 
} 
@-webkit-keyframes ghostanim { 
  0%   { -webkit-transform:  translate(0px, 0px) ;   } 
  50%   { -webkit-transform:  translate(0px, 30px);   }
  100%  { -webkit-transform:  translate(0px, 0px);   } 
} 

#trg_ghost{
	position:fixed;
	top:160px;
	left:330px;
	width:30%;
	animation: trg_ghostanim 2s; 
	animation-iteration-count: infinite; 
	-webkit-animation: trg_ghostanim 2s; /* Safari & Chrome */
	-webkit-animation-iteration-count: infinite;
	display: none;
}

@keyframes trg_ghostanim { 
  0%   { transform:  translate(0px, -40px);    } 
  60%   { transform:  translate(0px, 30px);   }
  100%  { transform:  translate(0px, -40px);   } 
} 
@-webkit-keyframes trg_ghostanim { 
  0%   { -webkit-transform:  translate(0px, -40px) ;   } 
  60%   { -webkit-transform:  translate(0px, 30px);   }
  100%  { -webkit-transform:  translate(0px, -40px);   } 
} 

/*slug setting and animation*/
#slug{
	position:fixed;
	top:110px;
	left:800px;
	width:30%;
	animation: sluganim 5s; 
	animation-iteration-count: infinite; 
	-webkit-animation: sluganim 5s; /* Safari & Chrome */
	-webkit-animation-iteration-count: infinite;
	display: none;
}

@keyframes sluganim { 
  0%   { transform:  translate(0px, 0px);    } 
  50%   { transform:  translate(30px, 30px);   }
  100%  { transform:  translate(0px, 0px);   } 
} 
@-webkit-keyframes sluganim { 
  0%   { -webkit-transform:  translate(0px, 0px) ;   } 
  50%   { -webkit-transform:  translate(30px, 30px);   }
  100%  { -webkit-transform:  translate(0px, 0px);   } 
} 

#trg_slug{
	position:fixed;
	top:260px;
	left:750px;
	width:30%;
	animation: trg_sluganim 5s; 
	animation-iteration-count: infinite; 
	-webkit-animation: trg_sluganim 5s; /* Safari & Chrome */
	-webkit-animation-iteration-count: infinite;
	display: none;
}

@keyframes trg_sluganim { 
  0%   { transform:  translate(-30px, -30px);    } 
  60%   { transform:  translate(30px, 30px);   }
  100%  { transform:  translate(-30px, -30px);   } 
} 
@-webkit-keyframes trg_sluganim { 
  0%   { -webkit-transform:  translate(-30px, -30px) ;   } 
  60%   { -webkit-transform:  translate(30px, 30px);   }
  100%  { -webkit-transform:  translate(-30px, -30px);   } 
} 